
body {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: none;
    background-image: url("background.jpg");
    width: 100%;
    background-size: 100%;
    background-color: #000000;

}
.navbar h1{
     margin: unset;
    padding: unset;
    color: #ff3300;
    font-size: 5vw;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: none;
    
}






.navbar .menu li{

    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #ff0066;
    width: 100%;
    margin-right: 40px;
    text-align: center;
    border: solid;
    font-weight: 800;
    margin-left: 25px;
    font-size: 3vw;
}

.navbar .container{
    text-align: center;
}
.home li{
    text-align: left;
    justify-content: space-between;
    width: 100%;
    display: inline-block;

}


.home li a{
    margin: unset;
    padding: unset;
    color: #FDFEFE;
    font-weight: 1000;
    font-family: Brush Script MT,cursive;
    font-size: 4.5vw;
}

.note{
    font-size: 2vw;
    color: white;
}

.about{
    background-image: url("aboutbackground.jpg");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.about .title{
    font-family: 'ubuntu',sans-serif;
    text-align: center;
    font-size: 4vw;
    color: white;
    margin: unset;
}

.about-content{
    text-align: center;
    font-size: 3vw;
    font-family: 'Times New Roman';
    color: white;
}

.achievements{
    margin: unset;
    padding: unset;
    background-image: url("extrabackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.achievements h3 {
  font-size: 4vw;
  text-align: center;
  color: white;
  margin: unset;
}


.achievements-content{
    text-align: justify-all;
    font-size: 3vw;
    font-family: 'Times new roman';
    color: white;
    font-weight: 500px;


}

.achievements-content ul li{
    list-style-type: circle;
    list-style-position: inside;
}


.skills{
    margin: unset;
    padding: unset;
    margin-bottom: unset;
    background-image: url("newbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.skills h4 {
  font-size: 4vw;
  text-align: center;
  color: white;
  margin: unset;
}


.skills-content{
    text-align: justify-all;
    font-size: 3vw;
    font-family: 'Times new roman';
    color: white;
    font-weight: 500px;


}

.skills-content ol li{
    list-style-type: binary;
    list-style-position: inside;
}


.Friends{
    margin: unset;
    padding: unset;
    margin-bottom: unset;
    background-image: url("chessbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.Friends h5 {
  font-size: 4vw;
  text-align: center;
  color: white;
  margin: unset;
}


.Friends-content{
    text-align: justify-all;
    font-size: 3vw;
    font-family: 'Times new roman';
    color: white;
    font-weight: 800px;


}

.Friends-content ol li{
    list-style-type: upper-roman;
    list-style-position: inside;
}

.contact{
    margin: unset;
    padding: unset;
    margin-bottom: unset;
    background-image: url("contactbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.contact h6 {
  font-size: 4vw;
  text-align: center;
  color: #ff0000;
  margin: unset;
}


.contact-content{
    text-align: justify-all;
    font-size: 3vw;
    font-family: 'Times new roman';
    color: #ff0000;
    font-weight: 1000px;


}

.contact-content ol li{
    list-style-type: lower-roman;
    list-style-position: inside;
}

.footer{
    font-size: 3vw;
    font-weight: 500px;
    color: white;
}
